.clear{clear:both;}
.nobr{white-space:nowrap;}
.info{background:#efefef;padding:10px 20px;border:1px solid #ddd;box-shadow:inset 0 0 0 1px #FFF;-webkit-box-shadow:inset 0 0 0 1px #FFF;-moz-box-shadow:inset 0 0 0 1px #FFF;}
div.cmdeals_error,div.cmdeals_message{border:1px solid;margin:10px 0px;padding:10px 10px 10px 32px;background-repeat:no-repeat;background-position:10px center;}div.cmdeals_error a.button,div.cmdeals_message a.button{margin-top:0;float:right;}
div.cmdeals_error{color:#D8000C;background-color:#ffd4d4;background-image:url('../images/error.gif');}
div.cmdeals_message{color:#fff;background-color:#000;background-image:url('../images/success.gif');}
p small{color:#999;}
p.demo_store{position:fixed;top:0;width:100%;font-size:12px;text-align:center;background:#f7f5c6;background:-webkit-gradient(linear, left top, left bottom, from(#f7f5c6), to(#eeeac1));background:-webkit-linear-gradient(#f7f5c6, #eeeac1);background:-moz-linear-gradient(center top, #f7f5c6 0%, #eeeac1 100%);background:-moz-gradient(center top, #f7f5c6 0%, #eeeac1 100%);padding:8px 0;border:1px solid #EEEAC1;color:#747165;z-index:999999;box-shadow:inset 0 0 0 3px rgba(255, 255, 255, 0.3);-webkit-box-shadow:inset 0 0 0 3px rgba(255, 255, 255, 0.3);-moz-box-shadow:inset 0 0 0 3px rgba(255, 255, 255, 0.3);}
small.note{display:block;color:#999;font-size:11px;line-height:21px;margin-top:10px;}
#breadcrumb{overflow:hidden;zoom:1;margin:0 0 1em;padding:0;font-size:0.92em;color:#999;}#breadcrumb a{color:#999;}
div.daily-deals{position:relative;margin-bottom:0;}div.daily-deals .deal_title{clear:none;}
div.daily-deals .price, div.daily-deals .has-bought{font-size:1.3em;}div.daily-deals .price del{font-size:14px;color:#ccc;}
div.daily-deals .price, div.daily-deals .has-bought, div.daily-deals .deals-countdown, div.daily-deals div.social{overflow: hidden;background: #f5f5f5;border: 1px solid #ddd;padding: 8px 5px;text-align:center;margin-bottom: 10px;}
div.daily-deals .deals-countdown .countdown_section{padding-right: 5px;}
div.daily-deals p.stock{font-size:0.92em;padding:2px 0 0 0;}
div.daily-deals div.images{float:left;width:47%;margin-bottom:10px;}div.daily-deals div.images img{border:1px solid #ddd;background:#f5f5f5;padding:2%;display:block;width:96%;height:auto;}
div.daily-deals div.images div.thumbnails{padding-top:10px;zoom:1;}div.daily-deals div.images div.thumbnails a{float:left;width:30%;margin-right:5%;}div.daily-deals div.images div.thumbnails a img{width:100%;height:auto;}
div.daily-deals div.images div.thumbnails a:nth-of-type(3n) { margin-right:0; }
div.daily-deals div.images div.thumbnails a img { width:90%;padding:5%;margin-bottom:1em; }
div.daily-deals div.images div.thumbnails a.last{margin-right:0;}
div.daily-deals div.images div.thumbnails a.first{clear:both;}
div.daily-deals div.summary{float:right;width:48%;}
div.daily-deals div.summary .deals-price {width: 32%;float: left;text-align: center;}
div.daily-deals div.social{text-align:right;margin:0 0 1em;}div.daily-deals div.social span{margin:0 0 0 2px;}div.daily-deals div.social span span{margin:0;}
div.daily-deals div.social span .stButton .chicklets{padding-left:16px;width:0;}
div.daily-deals div.social iframe{float:left;margin-top:3px;}
div.daily-deals .button-buy-now {background: url('../images/price-deal.png') top left no-repeat;border:0;cursor: pointer;width: 300px;height: 60px;color: #fff; font-size: 24px;}
.stock{color:#22A8E9;}
.out-of-stock{color:red;}
p.cart{text-align: center;margin-top: 20px;}p.cart .button-buy-now{text-decoration: none;display:block;line-height:2.5;margin:auto;}
form.cart{margin-bottom:24px;overflow:hidden;zoom:1; text-align: center;}form.cart div.quantity{float:left;margin:0 4px 0 0;}
form.cart table{font-size:12px;border-width:0 0 1px 0;}form.cart table td{padding:4px 4px 4px 0;}
form.cart table div.quantity{float:none;margin:0;width:72px;}
form.cart table small.stock{display:block;float:none;}
form.cart .variations label{font-weight:bold;}
form.cart .variations select{width:100%;float:left;}
form.cart .button{vertical-align:middle;float:left;margin:2px 0;}
span.onsale{background:#22A8E9;color:#fff;min-height:32px;min-width:32px;padding:4px;font-size:12px;position:absolute;text-align:center;line-height:32px;top:6px;left:6px;margin:0;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.daily-deals ul,ul.daily-deals{margin:0 0 14px;padding:0;list-style:none;}
.related,.upsells.daily-deals{overflow:hidden;zoom:1;}.related ul.daily-deals,.upsells.daily-deals ul.daily-deals,.related ul,.upsells.daily-deals ul{float:none;}.related ul.daily-deals li,.upsells.daily-deals ul.daily-deals li,.related ul li,.upsells.daily-deals ul li{width:30%;}.related ul.daily-deals li img,.upsells.daily-deals ul.daily-deals li img,.related ul li img,.upsells.daily-deals ul li img{width:100%;height:auto;}
ul.daily-deals{clear:both;margin-left:0;padding-left:0;}ul.daily-deals li{float:left;margin:0 3.8% 20px 0;padding:0;position:relative;width:30%;text-align: center;}ul.daily-deals li .onsale{top:0;right:0;left:auto;margin:-6px -6px 0 0;}ul.daily-deals li h3{margin-bottom:0;}
ul.daily-deals li a{text-decoration:none;}
ul.daily-deals li a img{width:100%;height:auto;display:block;margin:0 0 8px;border:1px solid #ddd;}
ul.daily-deals li a:hover img{border:1px solid #bbb;}
ul.daily-deals li strong{color:#555;display:block;}
ul.daily-deals li .price{color:#000;display:block;font-weight:normal;}
ul.daily-deals li .price .from{font-size:10px;line-height:10px;margin:-2px 0 0 0;display:block;color:#ccc;}
ul.daily-deals li.first{clear:both;}
ul.daily-deals li.last{margin-right:0;}
ul.daily-deals li .deals-countdown{font-size: 12px;color: #999;}ul.daily-deals li .deals-countdown .countdown_section{margin-right: 5px;}
ul.daily-deals li .deal-expired{color:#D8000C;}
.price del{line-height:10px;margin:-2px 0 0 0;color:#ccc;}
.price ins{background:none;}
.cmdeals_ordering{margin-bottom:24px;}
.cart .button,.cart input.button{float:none;}
table.store_attributes{border:0;border-top:1px dotted #ccc;}table.store_attributes th{width:150px;font-weight:bold;padding:8px;color:black;border-bottom:1px dotted #ccc;margin:0;line-height:1.5em;}
table.store_attributes td{font-style:italic;padding:0;border-bottom:1px dotted #ccc;margin:0;line-height:1.5em;}table.store_attributes td p{margin:0;padding:8px;}
table.store_attributes .alt td,table.store_attributes .alt th{background:#f9f9f9;}
table.store_table{border:1px solid #E7E7E7;margin:0px -1px 24px 0px;text-align:left;width:100%;border-collapse:separate;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}table.store_table th{color:#888;font-size:12px;font-weight:bold;line-height:18px;padding:9px 12px;}
table.store_table td{border-top:1px solid #E7E7E7;padding:6px 12px;vertical-align:middle;}table.store_table td a.button{margin:0 3px;}
table.store_table tfoot td{font-weight:bold;}
table.my_account_sales{font-size:0.85em;}table.my_account_sales th,table.my_account_sales td{padding:4px 8px;vertical-align:top;}
table.my_account_sales .button{white-space:nowrap;margin:4px 0;}
table.cart img{width:32px;height:auto;}
ul.cart_list,ul.deal_list_widget{list-style:none outside;padding:0;margin:0;}ul.cart_list li,ul.deal_list_widget li{padding:0;margin:0 0 10px;overflow:hidden;zoom:1;}ul.cart_list li a,ul.deal_list_widget li a{display:block;font-weight:bold;}
ul.cart_list li img,ul.deal_list_widget li img{border:1px solid #ddd;width:100%;height:auto;margin-bottom:10px;}
.widget_storeping_cart .total{border-top:3px double #ddd;padding:4px 0 0;margin:0;}.widget_storeping_cart .total strong{min-width:40px;display:inline-block;}
.widget_storeping_cart .buttons{overflow:hidden;zoom:1;}
a.remove{display:block;height:16px;width:16px;text-indent:-9999px;background:url(../images/remove.png) #cccccc;}
a.remove:hover{background-color:#f93;}
.cart th,.cart td{vertical-align:middle;}
td.actions{text-align:right;}td.actions .coupon{float:left;}td.actions .coupon label{display:none;}
td.actions .coupon .input-text{width:80px;float:left;margin:1px 6px 0 0;}
td.actions .button.alt{float:right;margin:2px 0 0 6px;}
td.daily-deals-name dl.variation{margin:0;}td.daily-deals-name dl.variation dt{font-weight:bold;display:inline;margin:0 4px 0 0;padding:0;}
td.daily-deals-name dl.variation dd{display:inline;margin:0 12px 0 0;padding:0;}
.col2-set{overflow:hidden;zoom:1;width:100%;}.col2-set .col-1{float:left;width:48%;}
.col2-set .col-2{float:right;width:48%;}
.cart-collaterals{overflow:hidden;zoom:1;width:100%;}.cart-collaterals .related{width:30.75%;float:left;}
.cart-collaterals .cart_totals{float:right;width:48%;text-align:right;}.cart-collaterals .cart_totals p{margin:0;}
.cart-collaterals .cart_totals table{border-collapse:separate;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:0 0 6px;padding:0;}.cart-collaterals .cart_totals table tr:first-child th,.cart-collaterals .cart_totals table tr:first-child td{border-top:0;}
.cart-collaterals .cart_totals table td,.cart-collaterals .cart_totals table th{padding:6px 12px;}
.cart-collaterals .cart_totals table small{display:block;color:#999;}
.cart-collaterals .cart_totals table select{width:100%;}
.cart-collaterals .cart_totals .discount td{color:#22A8E9;}
.cart-collaterals .cart_totals tr td,.cart-collaterals .cart_totals tr th{border-top:1px solid #E7E7E7;padding:6px 24px;}
.cart-collaterals .cart_totals a.button.alt{width:193px;display:block;font-size:0.92em;}
.form-row{overflow:hidden;zoom:1;padding:3px;margin:0 0 6px;}.form-row label{display:block;}
.form-row label.hidden{visibility:hidden;}
.form-row select{width:100%;cursor:pointer;margin:0;}
.form-row .required{color:#c00;font-weight:bold;}
.form-row .input-checkbox{display:inline;margin:-2px 8px 0 0;text-align:center;vertical-align:middle;}
.form-row label.checkbox{display:inline;}
form .form-row input.input-text,#content .form-row input.input-text,form .form-row textarea,#content .form-row textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);border:1px solid #ccc;width:100%;padding:6px;margin:0;outline:0;background:#fff none;font-size:14px;line-height:1em;}
form .form-row textarea,#content .form-row textarea{height:3.5em;line-height:1.5em;display:block;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
form .form-row input.input-text:focus,#content .form-row input.input-text:focus,form .form-row textarea:focus,#content .form-row textarea:focus{box-shadow:inset 0 0 0 3px #faf9dc;-webkit-box-shadow:inset 0 0 0 3px #faf9dc;-moz-box-shadow:inset 0 0 0 3px #faf9dc;}
.form-row-first,.form-row-last{float:left;width:47%;overflow:visible;}
.form-row-last{float:right;}
form.login{border:1px solid #ccc;padding:20px;border:1px solid #E7E7E7;margin:20px 0 20px 0px;text-align:left;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#payment{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}#payment ul.payment_methods{overflow:hidden;zoom:1;text-align:left;padding:1em;border-bottom:1px solid #eee;margin:0;list-style:none outside;}#payment ul.payment_methods li{line-height:2em;text-align:left;margin:0;font-weight:normal;}#payment ul.payment_methods li input{margin:0 1em 0 0;}
#payment ul.payment_methods li img{vertical-align:middle;margin:-2px 0 0 0.5em;position:relative;}
#payment div.form-row{padding:1em;border-top:1px solid #fff;}
#payment #place_order{float:right;margin:0;}
#payment .terms{padding:0 1em 0;text-align:right;}
#payment div.payment_box{position:relative;width:96%;font-size:0.92em;}#payment div.payment_box #cc-expire-month,#payment div.payment_box #cc-expire-year{width:48%;float:left;}
#payment div.payment_box #cc-expire-year{float:right;}
#payment div.payment_box span.help{font-size:11px;color:#999;line-height:13px;font-weight:normal;}
#payment div.payment_box p,#payment div.payment_box .form-row{margin:0 0 1em;}
.checkout .col-2 h3{float:left;clear:none;}
.checkout .col-2 .notes{clear:left;}
.checkout .col-2 .form-row-first{clear:left;}
.order_details{overflow:hidden;zoom:1;margin:0 0 1.5em;list-style:none;}.order_details li{float:left;margin-right:2em;text-transform:uppercase;font-size:0.715em;line-height:1em;border-right:1px dashed #ccc;padding-right:2em;}.order_details li strong{display:block;font-size:1.4em;text-transform:none;line-height:1.5em;color:#333;}
.order_details li.method{border:none;}
ol.commentlist.notes li.note p.meta{font-weight:bold;margin-bottom:0;}
ol.commentlist.notes li.note .description p:last-child{margin-bottom:0;}
.widget_price_filter .price_slider_wrapper .button{float:right;margin:0;}
.widget_price_filter .price_slider_wrapper .price_slider{margin:1em .6em .6em;}.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle{outline:0;}
.widget_price_filter .price_slider_wrapper .price_slider_amount{overflow:hidden;line-height:2em;}
.widget_price_filter .ui-state-default,.widget_price_filter .ui-widget-content .ui-state-default,.widget_price_filter .ui-widget-header .ui-state-default{border:1px solid #d3d3d3;background:#e6e6e6;font-weight:normal;color:#555555;}
.widget_price_filter .ui-state-hover,.widget_price_filter .ui-widget-content .ui-state-hover,.widget_price_filter .ui-widget-header .ui-state-hover,.widget_price_filter .ui-state-focus,.widget_price_filter .ui-widget-content .ui-state-focus,.widget_price_filter .ui-widget-header .ui-state-focus{border:1px solid #999999;background:#dadada;font-weight:normal;color:#212121;}
.widget_price_filter .ui-state-active,.widget_price_filter .ui-widget-content .ui-state-active,.widget_price_filter .ui-widget-header .ui-state-active{border:1px solid #aaaaaa;background:#ffffff;font-weight:normal;color:#212121;}
.widget_price_filter .ui-corner-all{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.widget_price_filter .ui-slider{position:relative;text-align:left;}
.widget_price_filter .ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default;}
.widget_price_filter .ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0;}
.widget_price_filter .price_slider_wrapper .ui-widget-content{border:1px solid #aaaaaa;background:#ffffff;color:#222222;}
.widget_price_filter .price_slider_wrapper .ui-widget-header{border:1px solid #aaaaaa;background:#cccccc;color:#222222;font-weight:bold;}
.widget_price_filter .ui-slider-horizontal{height:.8em;}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle{top:-0.3em;margin-left:-0.6em;}
.widget_price_filter .ui-slider-horizontal .ui-slider-range{top:0;height:100%;}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min{left:0;}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max{right:0;}
.widget_layered_nav ul{margin:0;padding:0;border:0;list-style:none outside;}.widget_layered_nav ul li{overflow:hidden;zoom:1;padding:0 0 1px;}.widget_layered_nav ul li a,.widget_layered_nav ul li span{padding:1px 0;float:left;}
.widget_layered_nav ul li.chosen a{padding:0 6px 0 18px;border:1px solid #3399cc;background:#3399cc url(../images/cross_white.png) no-repeat 6px center;box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;-webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;-moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.widget_layered_nav ul small.count{float:right;margin-left:6px;font-size:1em;padding:1px 0;color:#999;}


/* Additional Style */
.voucher-how-to {display:block; width:500px;}
.voucher-deals td > div { display:none; }
#fancybox-content .voucher-how-to {left:0;}
.voucher-deals td:nth-of-type(4n+1) {width:50%;}
.countdown_section { float:left;width:22%; }
.countdown_amount { display:block; }